build
case1
*.suo
*.json
*.sqlite
*.mod
*.o
*.data
*.pth
droplet_model*.f90
history*.nc
histograms*.nc
*.po*
*.o*
*.pyc
benchmark_approximation.x
droplet_approximation/data/*.data
droplet_approximation/notebooks/foo.data
droplet_approximation/notebooks/foo.xlsx
droplet_approximation/notebooks/test.xlsx
lesmpi.a
mach.file
test_cases/*/cou.mp.*.out
test_cases/*/test_case_*
